/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'NanumGodic';
  margin: 0;
  color: #333;
  font-size: 15px;
  line-height: 1.6em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aaaa {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-main {
  text-align: center;
  margin: 2rem 0;
}

.admin-container {
  display: flex;
  padding-top: 2rem;
  margin-right: 2rem;
  padding: 0 5rem;
}

.top {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1.5rem;
  padding: .7rem;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 10rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: #777;
}
.admin-count {
  font-size: 2rem;
  font-weight: 400;
}
.admin-link {
  font-size: .8rem;
  border-bottom: 1px solid #999;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-percent {
  display: flex;
  align-items: center;
  color: green;
}
.percentDown {
  display: flex;
  align-items: center;
  color: red;
}

.admin-icon {
  font-size: 2rem;
  padding: 5px;
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  align-self: flex-end;
}

.member {
  width: 900px;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.member tr {
  border-bottom: 1px solid #eee;
}
.member tr:last-child {
  border: none;
}

.member tr:nth-child(even) {
  background-color: aliceblue;
}

.member tr th {
  background-color: rgb(125, 170, 230);
  color: #fff;
}

.member tr th:last-child {
  border-radius: 0 5px 0 0;
}