.comment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comment-list {
  margin-left: 10rem;
  list-style: none;
  padding: 0;
  background-color: #777;
}

.comment-list__fallback {
  color: white;
  text-align: center;
}