
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

.auth-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background-color: rgb(162, 162, 162);
}

.auth-container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.361);
    overflow: hidden;
    margin: 0 20px;
}

.auth-container .auth-forms{
    display: flex;
    align-items: center;
    height: 400px;
    width: 200%;
    transition: height 0.2s ease;
}


.auth-container .auth-form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.auth-container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
/* 
.auth-container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.auth-container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
} */

.auth-container .auth-forms{
    height: 550px;
}
.auth-container .auth-form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.auth-form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 15px;
    background-color: #406ff1;
    border-radius: 25px;
}

.auth-form .input-field{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 14px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.auth-form .auth-text{
    color: #333;
    font-size: 14px;
}

.auth-form a.auth-text{
    color: #4070f4;
    text-decoration: none;
    margin-left: .5rem;
}
.auth-form a:hover{
    text-decoration: underline;
}

.auth-form .button{
    margin-top: 35px;
}

.auth-form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.auth-form .login-signup{
    margin-top: 30px;
    auth-text-align: center;
}
