.product-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-form h3 {
  font-size: 1.5rem;
}

.form input {
  width: 18rem;
}

.form-btn {
  border: none;
  background-color: transparent;
}
.form-btn svg {
  margin-left: .5rem;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15rem;
}